*\__pycache__\*
*/__pycache__/*
venv/*
node_modules/*
__pycache__/*
app/static/pdf/*.*
activity/*
backups/*.*
logs/*
rail/cp/*.*
rail/cn/*.*
rail/rail_imported/cn/*
rail/rail_imported/cp/*
styling/bootstrap/*
styling/dart-sass/*
.vscode/*
*.pyc
/*.pyc
